body {
    background-image: url('../imagenes/FondoTemporal2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: "play";
    font-size: 30px;
}

h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "play";
    font-size: 50px;
}

h3 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h4 {
    color: rgb(255, 255, 255);
}

h5 {
    color: rgb(0, 166, 42);
    text-align: center;
    font-size: 25px;
}

h6 {
    color: rgb(0, 166, 42);
    text-align: center;
    font-size: 40px;
}

p {
    color: rgb(110, 7, 245);
}


/*MENU*/

.panel-menu {
    background-color: #43ab43;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.286);
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.menu-objeto {
    display: inline-block;
    padding: 10px 20px;
    background-color: #43ab43;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

/*#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #43ab43;
    padding: 15px 30px;
    justify-content: flex-end;
    display: flex;
    gap: 50px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.286);
    z-index: 1000;
    font-family: Arial, sans-serif;
}

#menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    white-space: nowrap;
    word-spacing: 8px;
    transition: color 0.3s ease;
}*/


/*RESEÑAS*/
.reseñas {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
    gap: 100%;
}

.reseñas-objeto {
    background-color: #000000;
    color: rgb(0, 255, 0);
    padding: 20px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    text-decoration: none;
}

.reseñas-objeto2 {
    background-color: #04ff00;
}

.contenido-pagina {
    margin-top: 70px;
    text-align: center;
}

.boton-visitar-pagina {
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    background-color: #43ab43;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.cuerpo1{
    display: block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color:#ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(47, 255, 0);
    color: white;
    transition: background-color 0.9s;
}

.cuerpo2{
    display: block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color:#ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(47, 255, 0);
    color: rgb(60, 255, 0);
    transition: background-color 2s;
}

.cuerpo3{
    display: block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color:#ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(47, 255, 0);
    color: rgb(60, 255, 0);
    transition: background-color 3s;
}

.pie-pagina {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #43ab43;
    color: rgb(60, 255, 0);
    border-radius: 5px;
}