.hero {
    width: 100%;
    margin: 0;      
    padding: 0;
}

.image-text-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
    height: auto;
}

.image-text-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.text-overlay {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    margin: 10px 5px 0 5px;
    padding: 10px 20px;
    background-color: #23c531;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-secondary {
    color: #23c531;
    background-color: #ffffff;
}
